# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ROS 2 build artifacts
build/
install/
log/

# Pytest cache
.pytest_cache/

# LaTeX artifacts and report files
*.tex
*.aux
*.log
*.out
*.toc
*.synctex.gz
